@import "../_settings";

.zh{
  #projects{
    #heading{
      line-height: 3.4vw;
    }
  }
}

#projects {
  width:100%;
  height:100%;
  min-height: 100%;
  position: absolute;
  top:0;
  left:0;
  #scrollWrap{
    padding: 13.2vw 10vw rem-calc(100);
    &.hide{
      transform: translateY(100%);
    }
  }
  #heading{
    width:100%;
    text-align: center;
    position: relative;
    padding:rem-calc(20 0 130);
    font-weight: 600;
    b, strong{
      font-weight: 800;
      color:$orange;
    }
  }
  #items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8vw;
    grid-row-gap: 5vw;
    li {
      display: grid;
      // grid-template-rows: repeat(1, 1fr);
      &:nth-child(2n+1){
        .info{
          align-self: end;
        }
      }
      &:nth-child(2n){
        .info{
          grid-row: 2;
          .logoWrap{
            .logo{
              margin-top:rem-calc(20);
            }
          }
          .infoWrap{
            .wrap{
              padding-top: rem-calc(20);
              padding-bottom:0;
            }
          }
        }
        .imageWrap{
          align-self: end;
        }
      }
      .info{
        width: 100%;
        display: flex;
        .logoWrap{
          width: 2.9vw;
          .logo{
            width:100%;
            background:$white;
            border-radius: 50%;
            border:rem-calc(1) solid $black;
            position: relative;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            // filter: grayscale(100%);
            &:before{
              content:'';
              display: block;
              padding-top:100%;
            }
            &.small{
              background-size: 70%;
            }
            // img{
            //   width:100%;
            //   height:100%;
            //   position: absolute;
            //   top:50%;
            //   left:50%;
            //   transform: translate3d(-50%,-50%,0);
            // }
          }
        }
        .infoWrap{
          flex: 1;
          .wrap{
            border-left:rem-calc(1) solid $black;
            margin-left: 1.12vw;
            padding-left: 0.8vw;
            padding-bottom: 5vh;
            p{
              padding-bottom:.5vw;
              font-weight: 600;
            }
            .cat{
              color: $orange;
              line-height: 1.2vw;
              // white-space: nowrap;
            }
          }
        }
      }
      .imageWrap{
        width:100%;
      }
    }
  }
}
