@import "../_settings";

#projects {
  width:100%;
  height:100%;
  padding: rem-calc(200 50 50);
  #items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: rem-calc(50);
    grid-row-gap: rem-calc(50);
    li {
      opacity: 0;
      .imageWrap{
        width:100%;
        &:before{
          content:'';
          display: block;
          padding-top:100%;
        }
      }
    }
  }
}
