@import "../_settings";

#projects {
  width:100%;
  height:100%;
  min-height: 100%;
  position: absolute;
  top:0;
  left:0;
  #scrollWrap{
    padding: 15.2vw 10vw rem-calc(100) 8vw;
    &.hide{
      transform: translateY(100%);
    }
  }
  #heading{
    width:42vw;
    text-align: center;
    position: relative;
    left:50%;
    padding:rem-calc(20 0 100);
    transform: translate3d(-50%,0,0);
    font-weight: 600;
    b, strong{
      font-weight: 800;
      color:$orange;
    }
  }
  #items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8vw;
    grid-row-gap: 5vw;
    li {
      display: grid;
      // grid-template-rows: repeat(1, 1fr);
      &:nth-child(2n+1){
        .info{
          align-self: end;
        }
      }
      &:nth-child(2n){
        .info{
          grid-row: 2;
          .logoWrap{
            .logo{
              margin-top:rem-calc(20);
            }
          }
          .infoWrap{
            .wrap{
              padding-top: rem-calc(20);
              padding-bottom:0;
            }
          }
        }
        .imageWrap{
          align-self: end;
        }
      }
      .info{
        width: 100%;
        display: flex;
        .logoWrap{
          width: 2.9vw;
          .logo{
            width:100%;
            background:$white;
            border-radius: 50%;
            border:rem-calc(1) solid $black;
            position: relative;
            &:before{
              content:'';
              display: block;
              padding-top:100%;
            }
            &>*{
              width:100%;
              height:100%;
              position: absolute;
              top:0;
              left:0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .infoWrap{
          .wrap{
            border-left:rem-calc(1) solid $black;
            margin-left: 1.12vw;
            padding-left: 0.8vw;
            padding-bottom: 5vh;
            p{
              padding-bottom:.5vw;
            }
            .cat{
              color: $orange;
              white-space: nowrap;
            }
          }
        }
      }
      .imageWrap{
        width:100%;
      }
    }
  }
}
