* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: $defaultFont;
  font-size: rem-calc(18);
  line-height: rem-calc(18);

  #body_wrap {
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  img {
    width: 100%;
    height: auto;
  }
  input,
  textarea,
  button,
  select {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  [data-src] {
    background-color: #eee;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

    &.loaded {
      opacity: 1;
      visibility: visible;
    }
  }

  .floatL {
    float: left;
  }
  .floatR {
    float: right;
  }
  .alignC {
    text-align: center;
  }
  .alignL {
    text-align: left;
  }
  .alignR {
    text-align: right;
  }
  .img {
    background-position: center center;
    background-size: cover;
  }
  .cap {
    text-transform: uppercase;
  }
  .center {
    width: 100%;
    padding: 0 rem-calc(74);
  }
  .underline {
    text-decoration: underline;
  }
  .show_on_desktop {
    display: block;
  }
  .show_on_mobile {
    display: none;
  }

  ::selection {
    background: #000;
    color: #fff;
  }
  ::-moz-selection {
    background: #000;
    color: #fff;
  }

  ::-webkit-input-placeholder {
    color: #000;
  }
  :-moz-placeholder {
    color: #000;
  }
  ::-moz-placeholder {
    color: #000;
  }
  :-ms-input-placeholder {
    color: #000;
  }

  #mainWrap {
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  @import "./global/scrollbar";
}

// tablet
@media only screen and (max-width: 1024px) {
}
// mobile
@media only screen and (max-width: 700px) {
}

// iphone 6,7,8
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
}
// iphone 8+
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
}
// iphone X
@media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
