$white: #fff;
$lightwhite: #fefefe;
$grey:#aeaeae;
$lightgrey: #eee;
$black: #000;
$lightorange: #ff8c38;
$orange: #ec6900;
$organegrey: #cf824a;
$blue: #002d73;
$brown: #8b4806;

.orange{
    color: $orange;
}
.blue{
    color: $blue;
}