// @font-face {
//   font-family: 'TecoSansStencil';
//   src: url('../fonts/TecoSansStencil.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/TecoSansStencil.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/TecoSansStencil.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/TecoSansStencil.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/TecoSansStencil.svg#d6eae7a12a8d60651ae3073d0b497b4a') format('svg'); /* Legacy iOS */

//   font-style:   normal;
//   font-weight:  400;
// }

// @font-face {
//   font-family: 'TecoSansStencil Light';
//   src: url('../fonts/TecoSansStencil-Light-Light.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/TecoSansStencil-Light-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/TecoSansStencil-Light-Light.woff') format('woff'), /* Modern Browsers */
//        url('../fonts/TecoSansStencil-Light-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/TecoSansStencil-Light-Light.svg#c9851e21217aa63c5485106c292b0355') format('svg'); /* Legacy iOS */

//   font-style:   normal;
//   font-weight:  200;
// }
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,500,600,700,800&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');

$defaultFont: 'Sarabun', 'Noto Sans TC', sans-serif;

@mixin font($fontsize: 80, $lineHeight: 90) {
  font-size: rem-calc($fontsize);
  line-height: rem-calc($lineHeight);
}

h1, .h1{
  font-size: 4.19vw;
  line-height: 4.7vw;
  // @include font;
}
h2, .h2{
  font-size: 2.35vw;
  line-height: 3vw;
  // @include font(45, 58);
}
h3, .h3{
  font-size: 1.56vw;
  line-height: 1.65vw;
  // @include font(30, 32);
}
h4, .h4{
  font-size: 1.36vw;
  line-height: 1.56vw;
  // @include font(26, 30);
}
h5, .h5{
  font-size: 1.05vw;
  line-height: 1.25vw;
  // @include font(20, 24);
}
h6, .h6{
  font-size:0.9rem;
  line-height: 1.3vw;
  // @include font(16, 25);
}

// tablet
@media only screen and (max-width: $tablet) {
  @include font(22, 34);
}

// mobile
@media only screen and (max-width: $mobile) {
}
