.fixed {
  position: fixed;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transition: all .6s cubic-bezier(0.19, 1, 0.22, 1) 2s;
  &.hide{
    opacity: 0;
    visibility: hidden;
  }
  &#hof{
    top: rem-calc(20);
    left: rem-calc(20);
  }
  &#categoryWrap{
    width:100%;
    top: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
    ul{
      display: inline-block;
      white-space: nowrap;
      li{
        width: rem-calc(130);
        white-space: initial;
        display: inline-block;
        padding: rem-calc(20);
        cursor: pointer;
      }
    }
  }
  &#logo {
    top: rem-calc(20);
    right: rem-calc(20);
  }
  &#langBtn {
    bottom: rem-calc(35);
    right: rem-calc(35);
    border-radius: 50%;
    background: $black;
    color: $white;
    padding: rem-calc(15);
  }
  &#touchToStart {
    width: rem-calc(86);
    bottom: rem-calc(35);
    left: 0;
    right: 0;
    margin: auto;
  }
  &#shortDes {
    width: rem-calc(160);
    bottom: rem-calc(0);
    left: rem-calc(40);
    padding-left:rem-calc(10);
    padding-bottom:rem-calc(30);
    border-left:rem-calc(1) solid $black;
  }
}
