.fixed {
  position: fixed;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
  &.hide{
    opacity: 0;
    visibility: hidden;
  }
  &#hof{
    top: 3.4vw;
    left: 5.5vw;
    font-weight: 800;
  }
  &#categoryWrap{
    // width:100%;
    transform: translate3d(-50%,0,0);
    top: 0;
    left: 50%;
    text-align: center;
    ul{
      display: inline-block;
      white-space: nowrap;
      position: relative;
      li{
        width: 11vw;
        white-space: initial;
        display: inline-block;
        margin: rem-calc(20) 1vw 0;
        padding: 1.57vw rem-calc(20);
        cursor: pointer;
        font-weight: 800;
      }
      #projectNum{
        width:3.1vw;
        height:3.1vw;
        font-weight: normal;
        border:0.1vw solid $black;
        border-radius: 50%;
        background:$white;
        font-size: 1.3vw;
        position: absolute;
        top:100%;
        left:0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        // @include transform(translate3d(rem-calc(130 / 2 - 10vw), 0, 0));
      }
    }
    
  }
  &#logo {
    width:9.38vw;
    height: 4.3vw;
    top: 1.7vw;
    right: 2.9vw;
    svg{
      width:100%;
      height:100%;
      float: left;
    }
  }
  &#langBtn {
    width: 5.53vw;
    height: 5.53vw;
    bottom: 2.6vw;
    right: 2.6vw;
    border-radius: 50%;
    background: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    line-height: 1.6vw;
    font-weight: 600;
  }
  &#touchToStart {
    width: rem-calc(86);
    bottom: rem-calc(35);
    left: 0;
    right: 0;
    margin: auto;
  }
  &#shortDes {
    width: 20vw;
    bottom: 0;
    left: 5.8vw;
    padding-left:1.2vw;
    padding-bottom:2.6vw;
    border-left:rem-calc(1) solid $black;
    line-height: 2.1vw;
  }
}
