.fixed {
  position: fixed;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
  &.hide{
    opacity: 0;
    visibility: hidden;
  }
  &#hof{
    top: 3.4vw;
    left: 5.5vw;
    font-weight: 800;
    display: none;
  }
  &#categoryWrap{
    // width:100%;
    transform: translate3d(-50%,0,0);
    top: 0;
    left: 50%;
    text-align: center;
    ul{
      display: inline-block;
      white-space: nowrap;
      position: relative;
      li{
        width: 14vw;
        white-space: nowrap;
        display: inline-block;
        margin: rem-calc(20) 1vw 0;
        padding: 1.57vw rem-calc(20);
        cursor: pointer;
        font-weight: 600;
      }
      #projectNum{
        width:3.1vw;
        height:3.1vw;
        font-weight: normal;
        border:0.1vw solid $black;
        border-radius: 50%;
        background:$white;
        font-size: 1.3vw;
        position: absolute;
        top:100%;
        left:0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        // @include transform(translate3d(rem-calc(130 / 2 - 10vw), 0, 0));
      }
    }
    
  }
  &#logo {
    width:9.38vw;
    height: 4.3vw;
    top: 1.7vw;
    right: 2.9vw;
    svg{
      width:100%;
      height:100%;
      float: left;
    }
  }
  &#langBtn {
    width: 5.53vw;
    height: 5.53vw;
    bottom: 2.6vw;
    right: 2.6vw;
    border-radius: 50%;
    background: $black;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vw;
    line-height: 1.6vw;
    font-weight: 600;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    &:active{
      transform: translate3d(0,0,0) scale(.9);
    }
  }
  &#touchToStart {
    width: 3vw;
    bottom: 4vw;
    left: 39vw;
    margin: auto;
    svg{
      width:100%;
      float: left;
    }
  }
  &#shortDes {
    width: 31vw;
    bottom: 0;
    left: 5.8vw;
    padding-left:1.2vw;
    padding-bottom:3vw;
    border-left:rem-calc(1) solid $black;
    line-height: 2.1vw;
    overflow: hidden;
    transform: translate3d(0,0,0);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) .6s;
    p{
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: all 1s cubic-bezier(0.77, 0, 0.175, 1) .6s;
    }
    &.hide{
      opacity: 1;
      visibility: visible;
      transform: translate3d(0,100%,0);
      transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
      transition-delay: 0s;
      p{
        opacity: 0;
        transform: translate3d(-200%,0,0);
        transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0s;
      }
    }
  }
}
