#scrollBarWrap {
  width: rem-calc(6);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: rem-calc(3);
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fadeIn 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &.hide {
    opacity: 0;
  }

  #scrollBar {
    width: 100%;
    height: auto;
    background-color: rgba(176, 177, 178, 0.3);
    border-radius: rem-calc(5);
    position: absolute;
    top: 0px;
    right: 0px;

    -webkit-transition: background-color 300ms
        cubic-bezier(0.215, 0.61, 0.355, 1),
      height 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1),
      height 600ms cubic-bezier(0.19, 1, 0.22, 1);

    &.active,
    &:hover {
      background-color: rgba(176, 177, 178, 0.6);
    }
  }
}
